{% extends "base.html" %}

{% block head_extra %}
{% if config.generate_feed %}
{% set feed_url = config.base_url ~ '/' ~ config.feed_filenames[0] %}
<link rel="alternate" type="application/rss+xml" title="{{ config.title }} RSS Feed" href="{{ feed_url | safe }}" />
{% endif %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Blog",
  "name": "{{ config.title }}",
  "description": "{{ config.description | safe }}",
  "url": "{{ config.base_url | safe }}",
  "inLanguage": "{{ lang }}",
  "publisher": {
    "@type": "Person",
    "name": "{{ config.extra.author.name }}",
    "url": "{{ config.base_url | safe }}",
    "image": "{{ get_url(path=config.extra.author.avatar, trailing_slash=false) }}",
    "sameAs": [
      {% if config.extra.social.twitter %}"https://twitter.com/{{ config.extra.social.twitter }}",{% endif %}
      {% if config.extra.social.linkedin %}"https://www.linkedin.com/in/{{ config.extra.social.linkedin }}",{% endif %}
      {% if config.extra.social.github %}"https://github.com/{{ config.extra.social.github }}",{% endif %}
      {% if config.extra.social.bluesky %}"https://bsky.app/profile/{{ config.extra.social.bluesky }}"{% endif %}
    ],
    "description": "{{ section.description }}",
    "jobTitle": "{{ section.extra.job_title }}",
    "worksFor": {
      "@type": "Organization",
      "name": "{{ section.extra.works_for_name }}",
      "url": "{{ section.extra.works_for_url | safe }}"
    },
    "address": {
      "@type": "PostalAddress",
      "addressCountry": "{{ section.extra.country_name }}",
      "addressRegion": "{{ section.extra.region_name }}"
    },
    "knowsAbout": [
      {%- for topic in section.extra.knows_about -%}
        "{{ topic }}"{% if not loop.last %},{% endif %}
      {%- endfor -%}
    ]
  },
  "hasPart": [
    {
      "@type": "DataFeed",
      "name": "{{ config.title }} RSS Feed",
      {%- set feed_url = config.base_url ~ '/rss.xml' %}
      "url": "{{ feed_url | safe }}"
    }
  ]
}
</script>
{% endblock head_extra %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="has-text-centered">
      <h1 class="title is-2">{{ section.title }}</h1>
      <p class="subtitle is-4">{{ section.description }}</p>
      {% if config.extra.author.avatar %}
      <figure class="image is-flex is-justify-content-center is-align-items-center mb-5">
        <img class="is-rounded" src="{{ config.extra.author.avatar }}" style="max-width: 192px;" />
      </figure>
      {% endif %}

      <div class="is-flex is-justify-content-center mb-5">
        <a href="https://mvp.microsoft.com/en-US/mvp/profile/c4d4eb5e-a067-4747-9513-b1a12e50332c" target="_blank" rel="noopener">
          <img src="/images/microsoft-mvp-badge.png" alt="Microsoft MVP Badge" style="max-width: 160px;" />
        </a>
      </div>

      <p class="subtitle is-5 has-text-centered mb-5">
        Proud to be CTO at <a href="https://devolutions.net" target="_blank" rel="noopener">Devolutions</a>
      </p>

      <div class="mb-6">
        {{ macros:: social_links( social_config=config.extra.social) }}
      </div>

      <p class="is-size-6 has-text-centered mb-6">
        <a href="{{ get_url(path='posts') }}" class="has-text-grey-dark has-text-weight-semibold">
          Join me for a deep dive into Windows internals with a side of PowerShell.
        </a>
      </p>
      
    <div class="content">
      {{ section.content | safe }}
    </div>
  </div>
</section>
{% endblock %}
